body{
  font-family: 'Roboto', sans-serif;
}
.trigger{
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}
.trigger:hover{
  color: #1890ff;
}
.demo-logo-vertical{
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}
.ant-layout{
  min-height: 100vh;
}
.demo-logo-vertical{
  background-color: #ffd333;
  margin: 0;
  height: 64px;
}

.green{
  color: var(--color-47ad24);
  font-size: 14px;
  font-family: Roboto !important;
}
.red{
  color: var(--color-e52e2e);
  font-size: 14px;
  font-family: Roboto !important;
}
.quill {
  background-color: white;
}
:root{
  --color-212529: #212529;
  --color-ffd333: #ffd333;
  --color-47ad24: #47ad24;
  --color-e52e2e:#e52e2e;
  --color-828599: #828599;
  --color-3d464d: #3d464d;
  --color-c3d4da: #ced4da;
}
.form-control {
  box-shadow: none;
  border-color: var(--color-c3d4da);
}
.title{
  font-size: 28px;
  font-family: Roboto !important;
  color: var(--color-212529);

}
.sub-title {
  font-size: 24px;
  font-family: Roboto !important;
  color: var(--color-212529);
}
.desc{
  font-size: 14px;
  font-family: Roboto !important; 
  color: var(--color-828599);
}